BASE_URL=BASE_URL
TWITCH_CLIENT_ID=TWITCH_CLIENT_ID
TWITCH_CLIENT_SECRET=TWITCH_CLIENT_SECRET
SOCKET_URL=SOCKET_URL
SUPABASE_URL=SUPABASE_URL
SUPABASE_KEY=SUPABASE_KEY
SUPABASE_SERVICE_KEY=SUPABASE_SERVICE_KEY