.btn {
	font-family: inherit;
	border: 0;
	outline: 0;
	position: relative;
	color: rgb(255, 255, 255);
	padding: 10px;
	font-weight: 700;
	margin: 2px;
	cursor: pointer;
	background: none;
	transition: transform 100ms ease-in-out;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.btn:hover {
	transform: translateY(1px);
}
.btn:active {
	transform: translateY(2px);
}

.btn-sep {
	width: 100%;
	padding-left: 30px;
}
.btn-sep:before {
	font-weight: 300;
	font-family: "FontAwesome";
	background: var(--clr-primary);
	color: black;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 1.6;
	font-size: 1.5rem;
	width: 40px;
}
.btn-sep:after {
	content: "";
	position: absolute;
}
/* .btn:disabled {
	background: rgba(0, 0, 0, 0.3);
	cursor: not-allowed;
} */

.icon-win:before {
	content: "\f17a";
}
.icon-mac:before {
	content: "\f179";
}
.icon-linux:before {
	content: "\f17c";
}

.disabled {
	cursor: not-allowed;
	pointer-events: none;
}
