.btn {
	font-family: inherit;
	border: 0;
	outline: 0;
	position: relative;
	color: #000;
	padding: 10px;
	font-weight: 700;
	width: 100%;
	max-width: 250px;
	margin: 2px;
	cursor: pointer;
	transition: transform 100ms ease-in;
}
.btn:hover {
	transform: scale(0.99);
}
.btn:active {
	transform: scale(0.98);
}
.btn-sep:after {
	content: "";
	position: absolute;
}
.btn-sep:before {
	font-weight: 300;
	font-family: "FontAwesome";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 1.6;
	font-size: 1.5rem;
	width: 40px;
}

.btn-sep {
	padding-left: 30px;
}
.btn-sep:before {
	background: rgba(0, 0, 0, 0.2);
}

.icon-win:before {
	content: "\f17a";
}
.icon-mac:before {
	content: "\f179";
}
.icon-linux:before {
	content: "\f17c";
}

.disabled {
	cursor: not-allowed;
	pointer-events: none;
}
