h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 0.7;
	margin: 0.5rem;
}
h3 {
	font-size: 1.4rem;
	margin: 0.5rem 0;
}
h4 {
	font-size: 1.2rem;
	margin-bottom: 0.3rem;
}

p {
	line-height: 1.5;
	margin-bottom: 0.2rem;
}

small {
	font-size: 0.8rem;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-justify {
	text-align: justify;
}
.highlight {
	font-weight: 700;
	color: var(--clr-primary);
}
